.leaflet-container {
  height: 100%;
  width: 100%;
}

.geosearch {
  top: calc(5% + 5px);
  left: calc(5% + 20px);
  position: fixed !important;
  height: 40px;
  width: 40px;
}

.leaflet-touch .leaflet-control-geosearch {
  border: none;
}

.leaflet-touch .leaflet-control-geosearch a {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.leaflet-touch .leaflet-control-geosearch a:hover {
  box-shadow: 0 4px 10px rgb(11 23 78 / 50%);
}

.leaflet-geosearch-button.active a:last-child {
  border-bottom-right-radius: 0;
  width: 40px;
}

.leaflet-touch .leaflet-control-geosearch a::before {
  width: 10px;
  height: 10px;
  top: 24px;
  left: 18px;
  border-color: #fff;
}

.leaflet-touch .leaflet-control-geosearch a::after {
  width: 16px;
  height: 16px;
  top: 9px;
  left: 10px;
  border-color: #fff;
}

.leaflet-control-geosearch form {
  background-color: transparent;
  box-shadow: none;
  left: 40px;
  padding: 0;
}

.leaflet-control-geosearch form input {
  height: 40px;
  background-color: transparent;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  padding-right: 30px;
  min-width: 200px;
  text-indent: 8px;
  border: 1px solid #fff;
  border-left: none;
}

.leaflet-control-geosearch form input::placeholder {
  color: #fff;
  opacity: 0.9;
}

.leaflet-control-geosearch a.reset {
  background-color: transparent;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  padding: 0;
  border: none;
  width: 35px;
  height: 35px;
  top: 2px;
}

.leaflet-control-geosearch a.reset:hover {
  background-color: transparent;
  font-size: 34px;
  transition-duration: 0.5s;
  transform-origin: center, center;
  box-shadow: none;
}

.leaflet-control-geosearch .results.active {
  max-width: 200px;
  margin-top: 5px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.leaflet-control-geosearch .results > * {
  line-height: 24px;
  font-size: 15px;
}

.leaflet-control-geosearch .results > :hover,
.leaflet-control-geosearch .results > .active  {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: transparent;
  cursor: pointer;
}

