.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.card-list {
  margin: 0;
  padding: 0;
}

.card {
  list-style-type: none;
  padding: 2px;
}

.card--dragged::after {
  display: none;
}

.card.active .card__city {
  color: var(--color-text-white);
}

.card.active .card__temperature,
.card.active .card__wind-info {
  color: var(--color-text-white);
}

.card.active .card__header {
  background-color: var(--color-blue-light);
}

.card.active .card__content {
  background-color: var(--color-blue-main);
}

.hidden-block {
  display: none;
}
