.big-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  transition: filter var(--transition-base);
  outline: none;
  background: url(/img/sunny.jpeg) center no-repeat;
  background-size: cover;
}

.big-card:hover .big-card__header {
  backdrop-filter: blur(3px);
}

.big-card:hover .big-card__content {
  backdrop-filter: blur(3px);
}

.big-card--full {
  background-image: none;
}

.big-card:not(:last-child) {
  margin-bottom: 10px;
}

.big-card__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  padding: 14px 20px 5px;
  border-radius: 7px 7px 0 0;
  backdrop-filter: blur(2px);
  transition: background-color var(--transition-base);
  background: transparent;
}

.big-card__time {
  margin-right: 15px;
  margin-left: auto;
  font-size: 30px;
  line-height: 36px;
}

.big-card__city {
  font-size: 30px;
  line-height: 36px;
  transition: color var(--transition-base);
}

.big-card__time {
  margin-right: 15px;
  font-size: 30px;
  line-height: 36px;
}

.big-card__content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 24px 16px 20px;
  border-radius: 0 0 7px 7px;
  backdrop-filter: blur(2px);
  transition: background-color var(--transition-base);
}

.big-card__content-wrapper {
  width: 100%;
}

.big-card__future {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 5px;
  background-color: rgb(0, 0, 0, 0.15);
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 0;
}

.big-card__future-wrapper {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-card__future-property {
  display: block;
  text-align: center;
  width: 85px;
}

.big-card__future-day {
  display: block;
  width: 60px;
  text-align: left;
  padding-left: 10px;
}

.big-card__future-header {
  font-size: 17px;
  opacity: 0.5;
  margin: 0 auto;
}

.big-card__properties {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px 0;
}

.big-card__property {
  font-size: 25px;
}

.big-card__property-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 125px;
  height: 60px;
  font-size: 17px;
}
.big-card__property-header {
  height: 30px;
  opacity: 0.5;
}

.big-card__weather-conditions span:last-child {
  margin-right: 0;
}

.big-card__wind {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.big-card__wind-info {
  margin-left: 10px;

  transition: color var(--transition-base);
}

.big-card__full-date {
  margin: 5px 0;
}

.big-card__temperature {
  margin-left: auto;
  font-size: 64px;
  line-height: 62px;
  letter-spacing: -0.05em;
  opacity: 0.8;
  transition: color var(--transition-base);
}

.big-card__temperature--font {
  font-size: 36px;
  line-height: 60px;
  margin-left: 0;
  margin-bottom: 10px;
}

.big-card:hover .big-card__city {
  color: var(--color-text-white);
}

.big-card:hover .big-card__temperature,
.big-card:hover .big-card__wind-info {
  color: var(--color-text-white);
}

/* .big-card:hover .big-card__header {
  background-color: var(--color-blue-light);
}

.big-card:hover .big-card__content {
  background-color: var(--color-blue-main);
} */

.big-card:active {
  filter: drop-shadow(0 8px 20px rgba(11, 23, 78, 0.5));
}

.big-card--shadow {
  pointer-events: none;
  opacity: 0.3;
  background-color: var(--color-blue-light);
}

.big-card--shadow .big-card__header {
  background-color: var(--color-transparent);
}

.big-card--shadow .big-card__content {
  background-color: var(--color-blue-deep);
}

.big-card--shadow .big-card__city,
.big-card--shadow .big-card__temperature,
.big-card--shadow .big-card__wind-info {
  color: var(--color-text-white);
}

.big-card--empty {
  pointer-events: none;
  min-height: 172px;
  background-color: rgba(247, 248, 255, 0.3);
  border: 2px dashed var(--color-border);
}

.big-card--empty.hidden-block {
  display: none;
}

.big-card__full {
  display: flex;
  flex-direction: column;
}

.big-card__full-condition {
  display: flex;
  align-items: center;
}

.big-card__full-condition--position {
  display: flex;
  position: absolute;
  top: 8%;
  right: 100px;
  max-width: 60px;
  font-size: smaller;
  line-height: 1;
  text-align: center;
}

.big-card__full-condition--position img {
  width: 50px;
  height: 50px;
}

.big-card__full-item {
  display: flex;
  flex-direction: column;
}

