.sort__button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.sort__button {
  width: 40px;
  height: 40px;
  padding: 0 9px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}

.sort__button:hover {
  box-shadow: 0 0 15px rgb(244 244 244 / 70%);
}

.sort__button:active {
  opacity: 0.8;
  border: none;
}

